@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html, * {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
}


html,
body, * {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

